*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #23242a;
}
.box{
    position: relative;
    width: 380px;
    height: 420px;
    background: #1c1c1c;
    border-radius: 8px;
    overflow: hidden;
}
.box::before{
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, transparent, #fff, #fff, #fff);
    transform-origin: bottom right;
    animation: rotation 6s linear infinite;
   
}

.box::after{
    content: "";
    position: absolute;
    top: -50%;
    left:-50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, transparent, #fff, #fff, #fff);
    transform-origin: bottom right;
    animation: rotation 6s linear infinite;
    animation-delay: -3s;
    z-index: 1;
}

.borderLine{
    position: absolute;
    top: 0;
    inset: 0;
}
.borderLine::before{
    content: "";
    position: absolute;
    top: -50%;
    left:-50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, transparent, #ff2770, #ff2770, #ff2770);
    transform-origin: bottom right;
    animation: rotation 6s linear infinite;
    animation-delay: -1.5s;
    z-index: 1;
}
.borderLine::after{
    content: "";
    position: absolute;
    top: -50%;
    left:-50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, transparent, #ff2770, #ff2770, #ff2770);
    transform-origin: bottom right;
    animation: rotation 6s linear infinite;
    animation-delay: -4.5s;
    z-index: 1;
}
@keyframes rotation {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.box form{
    position: absolute;
    inset: 4px;
    padding: 50px 40px;
    background: #222;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    z-index: 10;
}
.box form h2{
    color: #fff;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
}
.box form .input-group{
    position: relative;
    width: 300px;
    margin-top: 30px;
}
.box form .input-group input{
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    color: #23242a;
    border: none;
    outline: none;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
}
.box form .input-group span{
    position: absolute;
    left: 0;
    padding: 20px 0px 0px;
    pointer-events: none;
    color: #8f8f8f;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
}
.box form .input-group input:valid ~ span,
.box form .input-group input:focus ~ span
{
    color: #fff;
    font-size: 0.85em;
    transform: translateY(-35px);
}
.box form .input-group i{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 98%;
    height: 2px;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    transition: 0.5s;
    pointer-events: none;
}

.box form .input-group input:valid ~ i,
.box form .input-group input:focus ~ i
{
    height: 44px;
}
.box form  .link{
    display: flex;
    justify-content: right;
    align-items: center;
}
.box form .link a{
    text-decoration: none;
    color: #8f8f8f;
    font-size: 0.85em;
    margin: 10px 0;
}
.box form .link a:hover{
    color: #fff;
}
.box form .btn{
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.box form .btn input[type=submit]{
    width: 100%;
    padding: 8px 0;
    font-size: 1em;
    cursor: pointer;
    border-radius: 20px;
    border: none;
    transition: 0.5s;
}
.box form .btn input[type=submit]:hover{
    opacity: 0.7;
}
.box form .btn a{
    width: 100%;
    text-align: center;
    padding: 8px 0;
    font-size: 1em;
    cursor: pointer;
    border-radius: 20px;
    border: 2px solid #fff;
    background: transparent;
    text-decoration: none;
    color: #fff;
    font-size: 1em;
    transition: 0.5s;
}
.box form .btn a:hover{
    opacity: 0.7;
}
.box form .btn p{
    color: #8f8f8f;
    margin: 18px 0;
    font-size: 0.80em;
}
@media (max-width: 910px){
    .box{
        width: 300px;
        height: 400px;
    }
    .box form .btn{
        height: 200px;
    }
}